{% extends 'MedEase/base.html' %}
{% block title %}test List{% endblock %}
{% block content %}
    <h2>Completed test List</h2>
        <div>
        <a href="{% url 'MedEase_haveTest_create_urlpattern' %}">Add New test</a>
    </div>
    <ul>
        {% for haveTest in have_test_list %}
            <li>
                <a href="{{ haveTest.get_absolute_url }}"> {{ haveTest }}</a>
            </li>
            {%empty%}
            <li><em>No test found</em></li>
        {% endfor %}
    </ul>
{% endblock %}

