{% extends 'MedEase/base.html' %}

{% block title %}
Patient -{{ patient }}
{% endblock %}

{% block content %}
    <h2>{{ patient }}</h2>
    <div>
    <a href="{{ patient.get_update_url }}">Edit patient</a>
    </div>
    <section>
        <table>
            <tr>
                <td>First Name</td>
                <td>{{ patient.first_name }}</td>
            </tr>

            <tr>
                <td>Last Name</td>
                <td>{{ patient.last_name }}</td>
            </tr>
        </table>
    </section>

    <section>
    <h3>Registered Appointment</h3>
    <ul>
        {% for registration in registration_list %}
            <li>
                <a href="{{  registration.get_absolute_url }}">{{ registration }}</a>
            </li>
        {% empty %}
            <li>No registration</li>
        {% endfor %}
    </ul>
    </section>

    <section>
        <h3>Medical History</h3>
        <ul>
            {% for visit in visit_list %}
                <li>
                    <a href="{{  visit.get_absolute_url }}">{{ visit }}</a>
                </li>
            {% empty %}
                <li>No medical history</li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}