{% extends 'MedEase/base.html' %}

{% block title %}Patient List{% endblock %}

{% block content %}
    <h2>Patient List</h2>
        <div>
        <a href="{% url 'MedEase_patient_create_urlpattern' %}">Add New Patient</a>
    </div>
    <ul>
        {% for patient in patient_list %}
            <li>
                <a href="{{ patient.get_absolute_url }}"> {{ patient }}</a>
            </li>
            {%empty%}
            <li><em>No patient found</em></li>
        {% endfor %}
    </ul>
{% endblock %}