{% extends 'MedEase/base.html' %}

{% block title %}prescription List{% endblock %}

{% block content %}
    <h2>prescription List</h2>
    <div>
        <a href="{% url 'MedEase_prescription_create_urlpattern' %}">Add New prescription</a>
    </div>
    <ul>
        {% for prescription in prescription_list %}
            <li>
                <a href="{{ prescription.get_absolute_url }}"> {{ prescription }}</a>
            </li>
        {%empty%}
            <li><em>No prescription found</em></li>
        {% endfor %}
    </ul>
{% endblock %}