{% extends 'MedEase/base.html' %}

{% block title %}
    Visit - {{ visit }}
{% endblock %}

{% block content %}
    <h2>{{ visit }}</h2>
       <ul>
    <li>
            <a href="{{ visit.get_update_url }}">
                Edit visit
            </a>
        </li>
        <li>
            <a href="{{ visit.get_delete_url }}">
                Delete visit
            </a>
    </ul>

    <section>
        <table>
            <tr>
                <th>Patient:</th>
                <td><a href="{{ patient.get_absolute_url }}">{{ patient }}</a></td>
            </tr>
            <tr>
                <th>Physician:</th>
                <td><a href="{{ physician.get_absolute_url }}" >{{ physician }}</a></td>
            <tr>
            <tr>
                <th>prep nurse:</th>
                <td><a href="{{ nurse.get_absolute_url }}" >{{ nurse }}</a></td>
            </tr>
        </table>
    </section>

    <section>
        <table>
            <tr>
                <th>Appointment:</th>
                <td><a href="{{ appointment.get_absolute_url }}">{{ appointment }}</a></td>
            </tr>
        </table>
    </section>

    <section>
        <h2>Diagnosis</h2>
        <div><a href="{% url 'MedEase_diagnosis_create_urlpattern' %}">Add New diagnosis</a></div>
        <ul>
            {% for diagnosis in diagnoses %}
                <li><a href="{{ diagnosis.get_absolute_url }}">{{ diagnosis }}</a></li>
            {% empty %}
                <li>No diagnoses</li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h3>Prescription</h3>
                <div><a href="{% url 'MedEase_prescription_create_urlpattern' %}">Add New prescription</a></div>
        <ul>
            {% for prescription in prescription_list %}
                <li><a href="{{ prescription.get_absolute_url }}">{{ prescription }}</a></li>
            {% empty %}
                <li>No prescriptions</li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h3>Test</h3>
        <div><a href="{% url 'MedEase_haveTest_create_urlpattern' %}">Add New test result</a></div>
        <ul>
            {% for have_test in testResults %}
                <li><a href="{{ have_test.get_absolute_url }}">{{ have_test }}</a></li>
            {% empty %}
                <li>No tests</li>
            {% endfor %}
        </ul>
    </section>



{% endblock %}
